<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="../assets/images/castle.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			Freedom Kingdom
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
				<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="minecrtaftMenuDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Minecraft</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/minecraft">Server</a>
						<a class="dropdown-item" href="/minecraft/map">Map</a>
						<li><a class="dropdown-item dropdown-toggle" role="button" href="#" aria-haspopup="true" aria-expanded="false">Stats </a>
							<ul class="submenu dropdown-menu">
							   <li><a class="dropdown-item" href="/minecraft/stats/overall">Overview</a></li>
							   
							</ul>
						 </li>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Sobre</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>



<div class="container-fluid bg-dark footer">
	<div class="container">
		<div class="text-center"><img class="mx-auto footerLogo" src=""></div>
		<p class="mx-3 my-3 text-center">Freedom Kingdom</p>
		<div class="row mx-5 text-center">
			<!--<div class="col-md my-2"><u><a class="footerLink" href="/cookies">Cookies policy</a></u></div>
			<div class="col-md my-2"><u><a class="footerLink" href="/privacy">Privacy policy</a></u></div>
			<div class="col-md my-2"><u><a class="footerLink" href="/terms-of-service">Terms of service</a></u></div>
			<div class="col-md my-2"><u><a class="footerLink" href="/contact">Contact</a></u></div>
			<div class="col-md">
				<a href="https://www.twitch.tv" target="_blank"><i class="socialMediaIcon fab fa-twitch"></i></a>
				<a href="https://twitter.com" target="_blank"><i class="socialMediaIcon fab fab fa-twitter"></i></a>
				<a href="https://www.facebook.com" target="_blank"><i class="socialMediaIcon fab fa-facebook-f"></i></a>
				<a href="https://www.instagram.com" target="_blank"><i class="socialMediaIcon fab fa-instagram"></i></a>
			</div>-->
		</div>
	</div>
</div>